@import 'vars';

.card {
    height: auto;
    width: auto;
}

.bannerCard {
    object-fit: contain;
    width: 100%;
}

.card h2 {
    color: var(--principal);
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: var(--xl);
}

.description {
    color: var(--softgray);
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--lg);
}

.infoContainerHome {
    display: grid;
    grid-template-columns: auto auto auto;
}

.iconsContainer {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: center;
}

.iconsDetail {
    padding-right: 0;
    align-self: center;
}

.iconsContainer p{
    font-size: var(--md);
    font-weight: bold;
    color: var(--hardgray);
    text-align: center;
    margin: 0;
    
}

.iconsContainer img {
    width: 3.5rem;
}

.price {
    color: var(--hardgray);
    font-size: var(--xl);
    font-weight: bolder;
}

.containButton {
    width: 100%;
    display: flex;
}

.infoButton {
    background-color: white;
    font-size: var(--lg);
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;;
    border-radius: 4rem;
    border: solid 2px var(--principal);
    color: var(--principal);
    height: 4rem;
    width: 100%;
    align-self: center;    
}

.infoButton:hover {
    cursor: pointer;
}

@media (max-width: 729px){
    .card h2 {
        font-size: var(--lg);
    }
    .description{
        font-size: var(--md);
    }
    .iconsContainer img{
        width: 2rem;
    }
    .iconsContainer p{
        font-size: var(--sm);
    }
    .price{
        font-size: var(--sm);
    }
    .containButton button {
        font-size: var(--sm);
        border: solid 1px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 12px;
        padding-right: 12px;
        height: auto;
        font-weight: bolder;
    }
}