@import 'vars';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title, .logo {
    width: 11rem;
}

.elementsContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

@media (max-width: 1200px){
    .container {

        margin-left: 6px;
        margin-right: 6px;
        box-sizing: border-box;
    }
    .title {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .elementsContainer {
        display: flex;
        flex-direction: column;
    }
}